body {
    font-family: Arial, sans-serif;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgba(0, 242, 255, 0.7);
    text-shadow: 0 0 0.2vw #a0f3e0;
    padding: 0 5vh 5vh 5vh;
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #555;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: white;
}

.contact-info {
    display: grid;
    grid-template-rows: 65% 35%;
    height: 25vh;
}

.photo img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 20vh ;
    border-radius: 50%;
    border: 1px solid rgb(3, 242, 255);
    box-shadow: 0 0 25px #a0f3e0;
    transition: 0.8s ease;
    animation: waveAnimation 8s infinite linear;
}

@keyframes waveAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(15px);
    }
    75% {
        transform: translateY(-15px);
    }
}

.photo img:hover {
    height: 25vh;
    box-shadow: 0 0 15px #a0f3e0;
    transition: 0.8s ease;
}



.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: auto;
    width: 100%;
}

a img {
    height: 8vh;
    padding: 0%;
    border-radius: 50%;
    border: 1px solid rgb(3, 242, 255);
    transition: 0.6s ease;
}

a img:hover {
    height: 10vh;
    padding: 2%;
    border: 1px solid rgb(0, 242, 255);
}

h2{
    background-color: #555;
    border-radius: 5vh;
    padding: 2vw;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
